Django
Pillow
cryptography
argon2-cffi
pynacl
numpy
scikit-image
PyWavelets
soundfile
opencv-python
ffmpeg-python
scipy
scikit-learn
python-magic
celery
redis
django-crispy-forms
django-allauth
django-environ
django-otp
python-decouple
cryptography
argon2-cffi
scrypt
cryptography
ascon
pqcrypto
crispy-bootstrap5
liboqs-python
pycryptodome
python-vlc
pydub
PyJWT
